<div class="modal-loading" style="display: none">
    <h1>Loading</h1>
    <div class="spinner"></div>
</div>

<div class="modal-no-results" style="display: none">
    <h1>No new results.</h1>
    <button class="close-no-results">Close</button>
</div>

<div class="page-overlay" style="display: none"> 

</div>

<div id="sidebar">
    <div id="sidebar-position">
        <a href="/">Home</a> 
        <a href="/saved">Saved Articles</a> 
        <a class="scrape">Grab New Articles</a>
        <a class="clear">Clear Articles</a> 
    </div>
</div>

<section>

    <header>
        <div class="overlay"></div>
        <div>
            <a href="/"> <h1>Mongo Scraper</h1> </a>
        </div>
        <div>
            <p>New | Yorker | Edition</p>
        </div>
    </header>

    <div class="article-container">

        <h1 class="article-header">Articles</h1>

        {{#if dbArticles}}
            {{#each dbArticles}}
                {{> article-block }}
            {{/each}}
        {{else}}
            <div class='alert'>
                <h2>No articles found.</h2>
                <div>
                    <h3>What Would You Like To Do?</h3>
                </div>
                <div>
                    <a class='scrape'><h4>Try Scraping New Articles</h4></a>
                    <a href='/saved'><h4>Go to Saved Articles</h4></a>
                </div>
            </div>
        {{/if}}

    </div>

</section>



    